<div class="file-container">
    <div class="box">
        <div class="is-pulled-right">
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="tags has-addons is-marginless">
                        <span class="tag is-dark">
                            Maintainability
                        </span>
                        <span class="tag tag-value"
                              [class.is-success]="file.rank === 'A'"
                              [class.is-warning]="file.rank === 'B'"
                              [class.is-danger]="file.rank === 'C'">
                            {{ file.rank }}
                            ({{ file.mi | number:"0.0-0" }})
                        </span>
                    </div>
                </div>

                <div class="control">
                    <div class="tags has-addons is-marginless">
                        <span class="tag">
                            Complexity
                        </span>
                        <span class="tag tag-value"
                              [class.is-success]="file.cc_rank === 'A'"
                              [class.is-primary]="file.cc_rank === 'B'"
                              [class.is-link]="file.cc_rank === 'C'"
                              [class.is-info]="file.cc_rank === 'D'"
                              [class.is-warning]="file.cc_rank === 'E'"
                              [class.is-danger]="file.cc_rank === 'F'">
                            {{ file.cc_rank }}
                            ({{ file.cc_value | number:"0.0-0" }})
                        </span>
                    </div>
                </div>
            </div>

            <div class="tags">
                <button class="button is-small is-outlined"
                        (click)="open()">
                    Show Cyclomatic Complexity
                </button>
            </div>
        </div>

        <div [style.font-family]="'monospace'">
            <strong>
                {{ file.file }}
            </strong>
        </div>

        <div>
            <em>
                {{ file.commit }} - {{ file.date | date }}
            </em>
        </div>

        <div>
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="tags has-addons is-marginless">
                        <span class="tag">
                            LOC
                        </span>
                        <span class="tag tag-value">
                            {{ file.loc }}
                        </span>
                    </div>
                </div>

                <div class="control">
                    <div class="tags has-addons is-marginless">
                        <span class="tag">
                            LLOC
                        </span>
                        <span class="tag tag-value">
                            {{ file.lloc }}
                        </span>
                    </div>
                </div>

                <div class="control">
                    <div class="tags has-addons is-marginless">
                        <span class="tag">
                            Comments
                        </span>
                        <span class="tag tag-value">
                            {{ file.comments }}
                        </span>
                    </div>
                </div>

            </div>
        </div>

        <ng-template cdk-portal #complexityTemplate="cdkPortal">
            <div class="comlexity-detail" [style.width]="'100%'">
                <div class="navbar is-dark">
                        <div class="navbar-brand">
                    <div class="navbar-item">
                            Cyclomatic Complexity
                        </div>
                    </div>

                    <div class="navbar-end">
                        <div class="navbar-item">
                            <button class="delete" type="button" (click)="close()">
                            </button>
                        </div>
                    </div>
                </div>

                <cm-file-detail [complexity]="file.cc"></cm-file-detail>
            </div>
        </ng-template>

    </div>
</div>
