<div class="file-container">
    <div class="box">
        <div class="is-pulled-right">
            <div class="field is-grouped is-grouped-multiline">
                <div class="control">
                    <div class="tags has-addons is-marginless">
                        <span class="tag is-dark">
                            Maintainability
                        </span>
                        <span class="tag"
                              [class.is-success]="file.rank === 'A'"
                              [class.is-warning]="file.rank === 'B'"
                              [class.is-danger]="file.rank === 'C'">
                            {{ file.rank }}
                            ({{ file.mi | number:"0.0-0" }})
                        </span>
                    </div>
                </div>

                <div class="control">
                    <div class="tags has-addons is-marginless">
                        <span class="tag">
                            Complexity
                        </span>
                        <span class="tag"
                              [class.is-success]="file.cc_rank === 'A'"
                              [class.is-primary]="file.cc_rank === 'B'"
                              [class.is-link]="file.cc_rank === 'C'"
                              [class.is-info]="file.cc_rank === 'D'"
                              [class.is-warning]="file.cc_rank === 'E'"
                              [class.is-danger]="file.cc_rank === 'F'">
                            {{ file.cc_rank }}
                            ({{ file.cc_value | number:"0.0-0" }})
                        </span>
                    </div>
                </div>
            </div>

            <div class="tags">
                <button class="button is-small is-outlined"
                    (click)="file.show_cc = !file.show_cc">
                    <span *ngIf="file.show_cc">
                        Hide Cyclomatic Complexity
                    </span>
                    <span *ngIf="!file.show_cc">
                        Show Cyclomatic Complexity
                    </span>
                </button>
            </div>
        </div>
        <div>
            <strong>
                {{ file.file }}
            </strong>
        </div>
        <div>
            <em>
                {{ file.commit }} - {{ file.date }}
            </em>
        </div>

        <div class="complexity-container" *ngIf="file.show_cc">
            <cm-file-detail [complexity]="file.cc"></cm-file-detail>
        </div>

    </div>
</div>
