<nav class="navbar is-dark">
    <div class="navbar-brand">
        <div class="navbar-item">
            Code Metrics
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="select">
                <select [(ngModel)]="order_by"
                        (change)="onOrder($event.target.value)">
                    <option *ngFor="let o of orders" [value]="o.key">
                        {{ o.title }}
                    </option>
                </select>
            </div>
        </div>

        <div class="navbar-item">
            <input class="input" type="text" placeholder="Search"
                   [formControl]="qCtrl">
        </div>
    </div>
</nav>

<cdk-virtual-scroll-viewport itemSize="100" class="metrics-viewport">
    <div *cdkVirtualFor="let file of files">
        <cm-file-item [file]="file"></cm-file-item>
    </div>
</cdk-virtual-scroll-viewport>

<router-outlet></router-outlet>
